# Bu dosya, Kanallar projesi için gerekli olan çevresel değişkenleri ve yapılandırmaları içerir. Lütfen bu dosyayı kendi sunucu ortamınıza göre düzenleyin ve .env olarak kaydedin.

DB_HOST=localhost
DB_NAME=Sunucu veritabanı adınızı buraya ekleyin
DB_USER=Sunucu kullanıcı adınızı buraya ekleyin
DB_PASS=Sunucu şifrenizi buraya ekleyin
GOOGLE_CLIENT_ID=Google Client ID'nizi buraya ekleyin